{% extends 'base.html.twig' %}

{% block title %}Panier Terralusitana{% endblock %}

{% block body %}
    <div id="app" userEmail="{{ app.user ? app.user.email : '' }}">Vue Not Working</div>
{% endblock %}
